@charset "utf-8";
@media screen and (max-width:767px) {
            /* 모바일 */
            #hd {
                display: none;
            }
            .Mhd {
                width: 100%;
                height: auto;
                position: fixed;
                top: 0;
                left: 0;
                background-color: #fff;
                z-index: 9999;
                padding: 2.5%;
                box-sizing: border-box;
                display: block;
            }
            .Mlogo {
                display: inline-block;
                width: 10%;
                height: auto;
                z-index: 9999;
                position: relative;
            }
            .Mlogo img {
                display: block;
                width: 100%;
                height: auto;
            }
            .MmenuBox {
                width: 80%;
                height: auto;
                position: absolute;
                top: 0;
                right: -100%;
                transition: 0.7s;
            }
            .MmenuBox.on {
                right: 0%;
            }
            .MmenuLst {
                width: 90%;
                height: auto;
                margin: 20% auto;
            }
            .MmenuLst li {
                width: 50%;
                height: auto;
                margin: 6% 0%;
            }
            .MmenuLst li a {
                display: block;
                color: #fff;
                font-size: 2vmax;
                font-weight: bold;
                font-family: 'Gothic A1', sans-serif;
            }
            .MmenuBtn {
                width: 10%;
                height: 80%;
                position: absolute;
                right: 2.5%;
                top: 7.5%;
                box-sizing: border-box;
                transition: 0.5s;
                transition-delay: 0.5s;
                z-index: 9999;
            }
            .MmenuBtn span {
                margin: 0 auto;
                display: block;
                width: 80%;
                border-bottom: 2px solid #4a4ea1;
                position: absolute;
                transition: 0.5s;
            }
            .MmenuBtn.on {
                transform: rotate(135deg);
            }
            .MmenuBtn span.MmeLine1 {
                left: 10%;
                top: 25%;
            }
            .MmenuBtn span.MmeLine2 {
                left: 10%;
                top: 45%;
            }
            .MmenuBtn span.MmeLine3 {
                left: 10%;
                top: 65%;
            }
            .MmenuBtn span.MmeLine1.on {
                left: 10%;
                top: 45%;
                transform: rotate(90deg);
                border-bottom: 2px solid #ffffff;
            }
            .MmenuBtn span.MmeLine2.on {
                left: 10%;
                top: 45%;
                transform: rotate(180deg);
                border-bottom: 2px solid #ffffff;
            }
            .MmenuBtn span.MmeLine3.on {
                bottom: 20%;
                left: 10%;
                display: none;
            }
            .dont {
                display: block;
                animation:dont ease-in-out 3s infinite;
                width: 15%;
                height: auto;
                position: absolute;
                top: 15%;
                left: 40%;
            }
            #con1 {
                width: 100%;
                height: auto;
                position: relative;
            }
            .con1Tit1 {
                width: 100%;
                text-align: center;
                font-size: 2.5vmax;
                color: #3f403f;
                font-weight: bold;
                clear: both;
            }
            .MconE {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 20%;
                left: 0;
            }
            .con1Line {
                display: none;
            }
            .con1Tit3 {
                width: 100%;
                position: absolute;
                top: 140%;
                left: 0;
                font-size: 1.2vmax;
                font-weight: bold;
                color: #3f3f3f;
                text-align: center;
                font-family: 'Nanum Myeongjo', serif;
            }
            .mainIn {
                width: 100%;
                height: auto;
                margin: 0 auto;
            }
            #ft {
                clear: both;
                padding-top: 20%;
                z-index: 9999;
                position: relative;
            }
            .ftSearch {
                display: none;
            }
        }
        @media screen and (min-width:768px) and (max-width:959px) {
            /* 테블릿 */
            .Mhd {
                display: none;
            }
        }
        @media screen and (min-width:960px) and (max-width:1199px) {
            /* 데스크탑 */
            .Mhd {
                display: none;
            }
        }
        @media screen and (min-width:1200px) {
            .Mhd {
                display: none;
            }
        }